<%= form_with model: play_list, data: { turbo: false } do |f| %>
  <div class="flex items-center">
    <%= f.text_field :name, class: "input input-bordered w-full max-w-xs text-xs", placeholder: "プレイリスト名" %>
    <%= f.submit "作成", class: "btn btn-sm" %>
  </div>
<% end %>