<div class="flex justify-center">
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>日付</th>
          <th>お知らせ</th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |notice| %>
          <tr class="hover" data-href>
            <th><%= l notice.updated_at, format: :short %></th>
            <td><%= link_to notice.title, notification_path(notice) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
