<div class="navbar bg-base-100">
  <div class="navbar-start">
    <%= link_to image_tag('netalog.png', class: "mb-3", size: "50x50"), root_path %>
    <%= link_to 'ネタログ', root_path, class: "font-bold text-xl" %>
  </div>
  <div class="navbar-end">
    <%= link_to 'ログイン', login_path, class: "btn" %>
  </div>
</div>