<div class="navbar bg-base-100">
  <div class="navbar-start">
    <p class="font-bold text-xl">ネタログ</p>
  </div>
  <div class="navbar-end">
    <%= link_to 'ログイン', login_path, class: "btn" %>
  </div>
</div>