<div>
  <%= link_to '#'  do %>
    <i class="fa-solid fa-pen-to-square"></i> 編集
  <% end %>
</div>
<div>
  <%= link_to  post_path(post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
    <i class="fa-solid fa-trash"></i> 削除
  <% end %>
</div>