<div class="card-actions mt-2 justify-around">
  <div>
    <%= link_to "https://twitter.com/share?text=「#{post.video.title}」のログを作成しました！%0a%20%23ネタログ%20#{post.decorate.with_hash_tags}%0a&url=#{ request.url }", target: '_blank' do %>
      <i class="fab fa-twitter"></i> 共有
    <% end %>
  </div>
  <div>
    <%= link_to '#'  do %>
      <i class="fa-solid fa-pen-to-square"></i> 編集
    <% end %>
  </div>
  <div>
    <%= link_to  post_path(post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
      <i class="fa-solid fa-trash"></i> 削除
    <% end %>
  </div>
</div>