<div class="flex justify-center">
  <%= form_with url: search_result_path, method: :get do |f| %>
    <%= f.text_field :query, class: "px-4 py-2 w-80 rounded-full", placeholder: "ネタを探す" %>
    <%= f.button nil, class: "px-4" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>
